#nav-b{
  text-align: center;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-b-item {
  padding-left: 12%;
  padding-right: 12%;
  display: inline;
}

.nav-b-link {
  text-decoration: none;
  font-size: 150%;
  color: black;
}

.nav-b-link:hover {
  color: gray;
}
