#nav {
  margin-top: 3vh;
  margin-bottom: 8vh;
}

.nav-link {
  text-align: center;
  text-decoration: none;
  font-size: 120%;
  color: #505050;
  letter-spacing: 0.1em;
  border: 1px solid #505050;
  border-radius: 30px;
  margin: 2% 15%;
}

.nav-link:hover {
  background-color: #505050;
  color: white;
}
