.page-header {
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.img-row {
  margin-bottom: 3vh;
  height: 100%;
}

.photo {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 3vh;
}
